* {
  scroll-behavior: smooth; 
  font-family: Roboto, 'Fira Sans', Ubuntu, 'Open Sans', 'Helvetica Neue', sans-serif;
}

section{
  padding: 64px;
}


/* SOMBRA */
.grey-shadow-img{
  -webkit-box-shadow: 0 0 5px 2px #d1d1d1;
  box-shadow: 0 0 5px 2px #d1d1d1;
}

.grey-shadow-img-on-hover{
  transition: box-shadow, -webkit-box-shadow 0.2s ease;
}

.grey-shadow-img-on-hover:hover{
  -webkit-box-shadow: 0 0 5px 2px #d1d1d1;
  box-shadow: 0 0 5px 2px #d1d1d1;
}

/* TEXTO */
.text-uppercase{
  text-transform: uppercase !important;
}

.font100{
  font-weight: 100 !important; 
}

p.text-justify{
  text-align: justify;
}

h5.title{
  text-transform: uppercase;
  font-weight: 800;
}

/* SOBRE MIM */
div img#profile-picture.responsive-img{
  border: 4px solid white;
}

/* CONHECIMENTOS */
div.progress{
  height: 16px;
}

/* CONTATO */
.input-field #message {
  height: 10rem;
}

.input-field input[type=email].invalid {
  color: red;
}

section#contact .row {
  padding: 1rem;
}




