@import './theme-colors.css';

.purple-hover{
    transition: background-color 0.5s ease;
}

.text-purple-hover{
    transition: color 0.5s ease;
}

.purple-hover:hover{
    background-color: var(--main-purple);

}
.text-purple-hover:hover{
    color: var(--main-purple);
}

h5.title{
    text-transform: uppercase;
    font-weight: 800;
}

/* NAVBAR */
div.navbar-fixed nav::after{
    border-bottom: 1.5vh solid var(--accent-pink);
    content: '';
    display: block;
}

ul#nav-dropdown.dropdown-content{
    top: -4.3rem;
    width: 15rem !important;
    left: 0;
}

/* BANNER */
section#banner .title{
    font-size: 5rem;
    margin-bottom: unset;
}

section#banner .subtitle{
    font-size: 1.4rem;
    margin-top: unset;
}

.btn-floating i.material-icons{
    font-size: 2rem;
}

.btn-floating .bigger-on-hover.material-icons{
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.btn-floating:hover .bigger-on-hover.material-icons{
    font-size: 3.5rem;
}

#bannerPreviousSlideButton i.bigger-on-hover.material-icons{
    right: 0;
}

#bannerPreviousSlideButton:hover i.bigger-on-hover.material-icons{
    right: 1rem;
    position: relative;
}

/* KNOWLEDGE */
.progress{
    border: 0.1rem solid var(--accent-pink);
  }

.progress.expertise{
    border: 0.2rem double var(--accent-pink);
}

/* FOOTER */
footer a#copyrightLink :last-child{
    display: none;
    animation: fadeIn 0.5s ease;
}

footer:hover a#copyrightLink :last-child {
    display: inline;
}

footer:hover a#copyrightLink :first-child{
    display: none;  
}

.tabs li.tab a.active.pink-text.text-accent-1{
    color: var(--main-purple) !important;
}

ul.tabs li.tab a.active:focus, ul.tabs li.tab a.active{
    background-color: #f3e5f5 ;
}

ul.tabs .indicator{
    background-color: var(--main-purple) !important;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

