@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap');

*{
    scroll-behavior: smooth; 
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
}

section{
    padding: 64px;
}

.text-uppercase{
    text-transform: uppercase !important;
}

.font100{
    font-weight: 100 !important; 
}

div.progress{
    height: 16px;
    /* height: 16px!important; */
}

p.text-justify{
    text-align: justify;
}

section#banner .title{
    font-size: 5rem;
    margin-bottom: unset;
}

div.navbar-fixed nav::after{
    border-bottom: 1.5vh solid hotpink;
    content: '';
    display: block;
}



section#banner .subtitle{
    font-size: 1.4rem;
    margin-top: unset;
}

div img#profile-picture.responsive-img{
    -webkit-box-shadow: 0 0 5px 2px #d1d1d1;
    box-shadow: 0 0 5px 2px #d1d1d1;
    border: 4px solid white;
}

