/* Cores do materialize para aplicação em regiões específicas do site 
  * Path: css/theme-colors.css 
  * Prefencialmente utilizar as classes de cor do materialize
  * * Usar essas cores apenas dentro do custom.css em ultimos casos
*/

:root{
  --main-color: #6a1b9a;
  --main-light-color: #f3e5f5;
  --accent-color: #69f0ae;
  --accent-pink: #ff80ab;
}